body {
   background-color: YellowGreen;
    text-align: center;
}
h1{
    font-size: 20pt;
    color: rgb(0, 0, 0);
}
main {
    width: 500px;height: 350px;
    margin: auto;
    color: #000;
}
input{
    background-color: Olive;
    font-size: 25pt;
    color: rgb(0, 0, 0);
    width:100px ;height:100px ;
    margin: 1px;
    border: solid black;
    border-radius: 10px;
    cursor: pointer
};
#jogador{
color: rgb(17, 16, 16);
}
#reiniciar{
    background-color: Khaki;
    font-size: 15pt;
    font-family: cursive;
    margin-top: 15px;
    color: #000;
    border: solid rgba(0, 0, 0, 0.479) ;
    width: 100px;
    border-radius: 20px

}